.bg-abu {
  background-color: #d9d9d9;
}

.ellipsis-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.photo-circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

/* card post */
.post .meta {
  line-height: 1.3;
}
.post .meta .name {
  font-weight: 700;
  font-size: 18px;
}

.post .meta .nim,
.post .meta .date {
  font-size: 12px;
  font-weight: 400;
  color: #5c5c5c;
}

.photo-discover {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  object-fit: cover;
}

.discover .name {
  font-weight: 700;
  font-size: 20px;
}
.discover .nim {
  font-weight: 400;
  color: #5c5c5c;
  font-size: 14px;
}

.profile .name {
  font-weight: 700;
  font-size: 20px;
}
.profile .nim {
  font-weight: 400;
  color: #5c5c5c;
  font-size: 14px;
}
.profile .major {
  font-size: 20px;
}
.profile .position {
  font-size: 14px;
}

.project .meta {
  line-height: 1.3;
}
.project .name {
  font-weight: 700;
  font-size: 20px;
}
.project .tech,
.project .amount {
  font-weight: 400;
  color: #5c5c5c;
  font-size: 14px;
}

.certificate .date {
  font-weight: 400;
  color: #5c5c5c;
  font-size: 14px;
}

.logo-project {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-picture-container {
  cursor: pointer;
  border-radius: 50%;
}

.photo-contributor {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}
